/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Barra lateral */
.sidebar {
    width: 150px;
    background-color: #800000;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

.sidebar .menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 90px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
}

.sidebar i {
    font-size: 18px;
    margin-right: 10px;
}

/* Conteúdo principal */
.container {
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 250px);
}

.container h1 img {
    width: 200px;
}

/* Centraliza o título do formulário */
.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Formulário */
.form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    body { font-family: Arial; padding: 20px; }
    ul { list-style: none; padding: 0; }
    li { padding: 10px; border: 2px solid #ccc; margin-bottom: 10px; border-radius: 8px; }
}

.form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form input[type="date"],
.form select,
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Botão alinhado com os campos */
.form button {
    background-color: #800000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.form button:hover {
    background-color: #a00000;
}

/* Alerta */
.alerta {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 16px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: none;
    transition: all 0.3s ease;
}

.alerta.sucesso {
    background-color: #4CAF50;
    color: white;
    display: block;
}

.alerta.erro {
    background-color: #f44336;
    color: white;
    display: block;
}

.alerta.oculto {
    display: none;
}

.excluir-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 6px 12px;
    margin-top: 8px;
    border-radius: 5px;
    cursor: pointer;
  }
  .excluir-btn:hover {
    background-color: #c0392b;
  }
  